<h1 class="text-center font-bold font-ui text-2xl mb-2"><%= gettext "Reset your password" %></h1>

<p class="bg-white rounded p-4 shadow-md border-t-4 border-secondary-500 mb-4"><%= gettext "Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder." %></p>

<%= link gettext("Return to sign in"), to: Routes.session_path(@conn, :new), class: "btn btn--primary" %>
