<!DOCTYPE html>
<html lang="en" class="h-full antialiased">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Tequila</title>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>" defer></script>
</head>
<body class="h-screen flex overflow-hidden bg-gray-100">
    <!-- Off-canvas menu for mobile -->
  <div class="md:hidden">
    <div id="off-canvas-container" class="fixed inset-0 flex z-40" style="display: none;">
      <!--
        Off-canvas menu overlay, show/hide based on off-canvas menu state.

        Entering: "transition-opacity ease-linear duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "transition-opacity ease-linear duration-300"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div id="off-canvas-backdrop" class="fixed inset-0">
        <div class="absolute inset-0 bg-gray-600 opacity-75"></div>
      </div>
      <!--
        Off-canvas menu, show/hide based on off-canvas menu state.

        Entering: "transition ease-in-out duration-300 transform"
          From: "-translate-x-full"
          To: "translate-x-0"
        Leaving: "transition ease-in-out duration-300 transform"
          From: "translate-x-0"
          To: "-translate-x-full"
      -->
      <div id="off-canvas-menu" class="relative flex-1 flex flex-col max-w-xs w-full pt-5 pb-4 bg-white">
        <div class="absolute top-0 right-0 -mr-14 p-1">
          <button id="off-canvas-close-trigger" class="flex items-center justify-center h-12 w-12 rounded-full focus:outline-none focus:bg-gray-600" aria-label="Close sidebar">
            <svg class="h-6 w-6 text-white" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex-shrink-0 flex items-center px-4">
          <%# <img class="h-8 w-auto" src="/img/logos/workflow-logo-on-white.svg" alt="Workflow" /> %>
          <h2 class="font-semibold text-xl">🍹 Tequila</h2>
        </div>
        <div class="mt-5 flex-1 h-0 overflow-y-auto">
          <nav class="px-2">
            <%= link to: Routes.link_path(@conn, :new), class: "group flex items-center px-2 py-2 text-base leading-6 font-medium text-gray-100 rounded-md bg-blue-600 shadow focus:outline-none focus:bg-blue-700 transition ease-in-out duration-150" do %>
              <svg class="mr-4 h-6 w-6 text-gray-200 group-hover:text-gray-100 group-focus:text-gray-100 transition ease-in-out duration-150" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
              </svg>
              <%= gettext("Submit link") %>
            <% end %>

            <%= link to: Routes.channel_path(@conn, :index), class: "mt-1 group flex items-center px-2 py-2 text-base leading-6 font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-100 transition ease-in-out duration-150" do %>
              <svg class="mr-4 h-6 w-6 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14"/>
              </svg>
              <%= gettext "Channels" %>
            <% end %>

            <%= if active_path? @conn, active: [{TequilaWeb.ChannelController, :any}] do %>
              <%= for channel <- user_channels(@conn.assigns[:current_user]) do %>
                <%= active_link @conn, channel.name, to: Routes.channel_path(@conn, :show, channel), class: "block border-l-2 border-gray-400 ml-4 pl-7 py-2", class_active: "font-semibold border-gray-900" %>
              <% end %>
              <%= link to: Routes.channel_path(@conn, :new), class: "flex items-center px-1 py-1", class_active: "text-primary-900 underline" do %>
                <svg class="mr-4 h-6 w-6 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150" stroke="currentColor" fill="none" viewBox="0 0 24 24" style="margin-left: 1px;">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                </svg>
                <%= gettext("Create channel") %>
              <% end %>
            <% end %>
          </nav>
        </div>
      </div>
      <div class="flex-shrink-0 w-14">
        <!-- Dummy element to force sidebar to shrink to fit close icon -->
      </div>
    </div>
  </div>

  <!-- Static sidebar for desktop -->
  <div class="hidden md:flex md:flex-shrink-0">
    <div class="flex flex-col w-64 border-r border-gray-200 pt-5 pb-4 bg-white">
      <div class="flex items-center flex-shrink-0 px-4">
        <%# <img class="h-8 w-auto" src="/img/logos/workflow-logo-on-white.svg" alt="Workflow" /> %>
        <h2 class="font-semibold text-xl">🍹 Tequila</h2>
      </div>
      <div class="mt-5 h-0 flex-1 flex flex-col overflow-y-auto">
        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <nav class="flex-1 px-2 bg-white">

          <%= link to: Routes.link_path(@conn, :new), class: "group flex items-center px-2 py-2 text-sm leading-5 font-medium text-gray-100 rounded-md bg-blue-600 shadow focus:outline-none focus:bg-blue-700 transition ease-in-out duration-150" do %>
            <svg class="mr-3 h-6 w-6 text-gray-200 group-hover:text-gray-100 group-focus:text-gray-100 transition ease-in-out duration-150" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
            </svg>
            <%= gettext("Submit link") %>
          <% end %>

          <%= link to: Routes.channel_path(@conn, :index), class: "mt-1 group flex items-center px-2 py-2 text-sm leading-5 font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:bg-gray-100 transition ease-in-out duration-150" do %>
            <svg class="mr-3 h-6 w-6 text-gray-500 group-hover:text-gray-500 group-focus:text-gray-600 transition ease-in-out duration-150" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14"/>
            </svg>
            <%= gettext "Channels" %>
          <% end %>

          <%= if active_path? @conn, active: [{TequilaWeb.ChannelController, :any}] do %>
            <%= for channel <- user_channels(@conn.assigns[:current_user]) do %>
              <%= active_link @conn, channel.name, to: Routes.channel_path(@conn, :show, channel), class: "block border-l-2 border-gray-400 ml-4 pl-7 py-2 text-sm", class_active: "font-semibold border-gray-900" %>
            <% end %>
            <%= link to: Routes.channel_path(@conn, :new), class: "flex items-center text-sm px-1 py-1", class_active: "text-primary-900 underline" do %>
              <svg class="mr-4 h-6 w-6 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150" stroke="currentColor" fill="none" viewBox="0 0 24 24" style="margin-left: 1px;">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
              </svg>
              <%= gettext("Create channel") %>
            <% end %>
          <% end %>
        </nav>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-0 flex-1 overflow-hidden">
    <div class="relative z-10 flex-shrink-0 flex h-16 bg-white shadow">
      <button id="off-canvas-open-trigger" class="px-4 border-r border-gray-200 text-gray-500 focus:outline-none focus:bg-gray-100 focus:text-gray-600 md:hidden" aria-label="Open sidebar">
        <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
        </svg>
      </button>
      <div class="flex-1 px-4 flex justify-between">
        <div class="flex-1 flex">
          <div class="w-full flex md:ml-0">
            <label for="search_field" class="sr-only">Search</label>
            <form class="relative w-full text-gray-400 focus-within:text-gray-600" id="app-shell-search-container" action="<%= Routes.search_path(@conn, :index) %>" method="GET">
              <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none">
                <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" />
                </svg>
              </div>
              <input class="block w-full h-full pl-8 pr-3 py-2 rounded-md text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 sm:text-sm" placeholder="<%= gettext "Search" %>" type="search" name="q" value="<%= @conn.params["q"] %>">
            </form>
          </div>
        </div>
        <div class="ml-4 flex items-center md:ml-6">
          <%# <button class="p-1 text-gray-400 rounded-full hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:shadow-outline focus:text-gray-500" aria-label="Notifications">
            <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
          </button> %>

          <!-- Profile dropdown -->
          <div class="ml-3 relative">
            <div>
              <button id="user-menu-trigger" class="max-w-xs flex items-center p-1 text-gray-400 rounded-full hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:shadow-outline focus:text-gray-500" id="user-menu" aria-label="User menu" aria-haspopup="true">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
                </svg>
              </button>
            </div>
            <!--
              Profile dropdown panel, show/hide based on dropdown state.

              Entering: "transition ease-out duration-100"
                From: "transform opacity-0 scale-95"
                To: "transform opacity-100 scale-100"
              Leaving: "transition ease-in duration-75"
                From: "transform opacity-100 scale-100"
                To: "transform opacity-0 scale-95"
            -->
            <div id="user-menu" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg" style="display: none;">
              <div class="py-1 rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                <%= link "Invitations", to: Routes.invite_path(@conn, :index), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150", role: "menuitem" %>
                <%= form_for @conn, Routes.session_path(@conn, :delete), [class: "block w-full"], fn _f ->  %>
                  <%= submit gettext("Log out"), class: "block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150", role: "menuitem" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main class="flex-1 relative z-0 overflow-y-auto py-6 focus:outline-none" tabindex="0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <%= if info = get_flash(@conn, :info) do %>
          <div class="rounded-md bg-blue-50 p-4 mb-6">
            <div class="flex">
              <div class="flex-shrink-0">
                <svg class="h-5 w-5 text-blue-400" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"/>
                </svg>
              </div>
              <div class="ml-3">
                <h3 class="text-sm leading-5 font-medium text-blue-800">
                  <%= info %>
                </h3>
              </div>
            </div>
          </div>
        <% end %>
        <%= if error = get_flash(@conn, :error) do %>
          <div class="rounded-md bg-red-50 p-4 mb-6">
            <div class="flex">
              <div class="flex-shrink-0">
                <svg class="h-5 w-5 text-red-400" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"/>
                </svg>
              </div>
              <div class="ml-3">
                <h3 class="text-sm leading-5 font-medium text-red-800">
                  <%= error %>
                </h3>
              </div>
            </div>
          </div>
        <% end %>
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>
  </div>
</body>
</html>
