<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Ptolemy</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
</head>
<body>
  <div class="app-shell">
    <a class="app-shell__menu-toggle" href="#app-shell-search-container">☰&nbsp;<%= gettext "Menu" %></a>
    <form class="app-shell__search" id="app-shell-search-container">
      <div class="form-group">
        <label for="app-shell-search-input" class="form-group__label"><%= gettext "Search" %></label>
        <input type="search" class="form-group__input" id="app-shell-search-input" name="q">
      </div>
    </form>
    <nav class="app-shell__navigation sidenav">
      <%= link gettext("Submit link"), to: Routes.link_path(@conn, :new), class: "btn btn--primary btn--block btn--sidebar" %>
      <p class="sidenav__header"><%= gettext "Channels" %></p>
      <%= link gettext("Create channel"), to: Routes.channel_path(@conn, :new), class: "sidenav__link sidenav__link--create" %>
      <%= for channel <- user_channels(@conn.assigns[:current_user]) do %>
        <%= active_link @conn, channel.name, to: Routes.channel_path(@conn, :show, channel), class: "sidenav__link sidenav__link--channel", class_active: "sidenav__link--active" %>
      <% end %>
      <hr>
      <p class="sidenav__header"><%= gettext "My account" %></p>
      <a class="sidenav__link" href="/"><%= gettext "Log out" %></a>
    </nav>
    <main role="main" class="app-shell__main">
      <div class="alert alert--info" role="alert"><%= get_flash(@conn, :info) %></div>
      <div class="alert alert--danger" role="alert"><%= get_flash(@conn, :error) %></div>
      <%= render @view_module, @view_template, assigns %>
    </main>
  </div>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
