<section class="box">
  <header class="box__header">
    <h1 class="box__title" title="<%= gettext "Editing channel %{channel}", channel: @channel.name %>">
      <%= gettext "Editing channel %{channel}", channel: @channel.name %>
    </h1>
  </header>
  <div class="box__body">
    <%= render "form.html", Map.put(assigns, :action, Routes.channel_path(@conn, :update, @channel)) %>
  </div>
</section>
