<section class="box">
  <header class="box__header">
    <h1 class="box__title" title="Modification du channel <%= @channel.name %>">
      Modification du channel "<%= @channel.name %>"
    </h1>
  </header>
  <div class="box__body">
    <%= render "form.html", Map.put(assigns, :action, Routes.channel_path(@conn, :update, @channel)) %>
  </div>
</section>
