<section class="box">
  <header class="box__header">
    <h1 class="box__title">
      <%= gettext "Empty query" %>
    </h1>
    <div class="box__actions">
    </div>
  </header>
  <div class="box__body">
  </div>
</section>
