.box {
  display: block;
  width: 100%;
  background: white;
  box-shadow: 2px 2px 4px var(--color-grey);
  border-radius: .3rem;
}

.box__header {
  padding: .5rem;
  display: flex;
  flex-direction: row;
}

.box__title {
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-family: sans-serif;
}

.box__actions {
  display: flex;
  flex-grow: 0;
}

.box__actions > * + * {
  margin-left: .5rem;
}

.box__actions .btn {
  height: max-content;
}

.box__body {
  padding: .5rem;
}
