.btn {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .3);
  padding: .25rem .5rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: .3rem;
  color: #444;
  text-transform: uppercase;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  text-align: center;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

.btn:hover,
.btn:focus {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .15);
}

.btn:active {
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, .15);
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--success {
  background-color: var(--color-success);
  color: #fff;
}

.btn--danger {
  background-color: var(--color-danger);
  color: #fff;
}

.btn--sidebar {
  margin-bottom: .5rem;
  text-align: left;
}
