.card {
  display: flex;
  flex-direction: row;
  background: #fff;
  box-shadow: 0 0 2px var(--color-grey);
  border-radius: .3rem;
}

.card--organization {
  height: 64px;
  margin-bottom: 1rem;
}

.card__thumbnail {}

.card__content {
  padding-left: .5rem;
  padding-right: .5rem;
}
