.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group__label {
  flex: 0 0 20%;
  padding-right: 1rem;
  padding-top: .3rem;
  margin-bottom: .5rem;
}

.form-group__content {
  flex: 0 0 80%;
}

.form-group__input {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: .5rem;
  border-radius: .25rem;
  resize: vertical;
  border: 1px solid var(--color-grey);
}

.form-group__error {
  color: var(--color-danger);
}

.form-actions {
  text-align: right;
}

@media (min-width: 768px) {
  .form-group {
    flex-direction: row;
  }

  .form-group__label {
    text-align: right;
    margin-bottom: 0;
  }
}
