<header class="mb-4">
  <h1 class="text-2xl font-bold leading-7 text-neutral-900 sm:text-3xl sm:leading-9 sm:truncate">
    <%= gettext "Editing link %{link}", link: @link.title %>
  </h1>
</header>

<section class="bg-white px-4 pb-2 pt-2 shadow-md rounded">
  <div>
    <%= render "form.html", Map.put(Map.put(assigns, :action, Routes.link_path(@conn, :update, @link)), :method, :patch) %>
  </div>
</section>

