<header class="mb-4">
  <h1 class="text-2xl font-bold leading-7 text-neutral-900 sm:text-3xl sm:leading-9 sm:truncate">
    <%= gettext "New link" %>
  </h1>
</header>

<section class="bg-white p-4 shadow-md rounded">
  <div>
    <%= render "form.html", Map.put(Map.put(assigns, :action, Routes.link_path(@conn, :create)), :method, :post) %>
  </div>
</section>
