/* This file is for your main application css. */

@import "./glass/glass.css";

.sidenav__link--create:before {
  content: "+ ";
}

.sidenav__link--channel:before {
  content: "# ";
}

.entries-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.entries-list > .entry + .entry {
  border-top: 1px solid var(--color-grey);
}

.entry {
  padding: .5rem 0;
}

.entry::after {
  content: "";
  clear: both;
  display: table;
}

.entry__favicon {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: .5rem;
  border-radius: 4px;
  border-color: 1px solid var(--color-grey);
}

.entry__title {
}

.entry__link {
  font-size: 1.25rem;
}

.entry__location {
  color: var(--color-grey);
  display: inline;
}

.entry__actions > a {
  text-decoration: none;
  color: var(--color-primary);
}
