* {
  box-sizing: border-box;
}

body {
  --color-brand: #a58855;
  --color-primary: #1d3e7e;
  --color-success: #355834;
  --color-danger: #9b1d20;
  --color-grey: #7d7d7d;

  background-color: #efefef;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: #444;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0 0 1rem 0;
}

.app-shell {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.app-shell__navigation {
  display: flex;
  flex: 0 0 20%;
  flex-direction: column;
}

.app-shell__main {
  display: flex;
  flex: 0 0 80%;
  flex-direction: column;
  padding-left: 1rem;
}

.app-shell__search {
  margin-bottom: 1rem;
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end;
}

.app-shell__search > .form-group {
  width: 50%;
  margin-bottom: 0;
}

.box {
  display: block;
  width: 100%;
  background: white;
  box-shadow: 2px 2px 4px var(--color-grey);
  border-radius: .3rem;
}

.box__header {
  padding: .5rem;
  display: flex;
  flex-direction: row;
}

.box__title {
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-family: sans-serif;
}

.box__actions {
  display: flex;
  flex-grow: 0;
}

.box__actions > * + * {
  margin-left: .5rem;
}

.box__actions .btn {
  height: max-content;
}

.box__body {
  padding: .5rem;
}

.btn {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .3);
  padding: .25rem .5rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: .3rem;
  color: #444;
  text-transform: uppercase;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

.btn:hover,
.btn:focus {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .15);
}

.btn:active {
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, .15);
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--success {
  background-color: var(--color-success);
  color: #fff;
}

.btn--danger {
  background-color: var(--color-danger);
  color: #fff;
}

.btn--sidebar {
  margin-bottom: .5rem;
}

.card {
  display: flex;
  flex-direction: row;
  background: #fff;
  box-shadow: 0 0 2px var(--color-grey);
  border-radius: .3rem;
}

.card--organization {
  height: 64px;
  margin-bottom: 1rem;
}

.card__thumbnail {}

.card__content {
  padding-left: .5rem;
  padding-right: .5rem;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.form-group__label {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 1rem;
  padding-top: .3rem;
}

.form-group__content {
  flex: 0 0 80%;
}

.form-group__input {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: .5rem;
  border-radius: .25rem;
  resize: vertical;
  border: 1px solid var(--color-grey);
}

.form-group__error {
  color: var(--color-danger);
}

.form-actions {
  text-align: right;
}

.sidenav {
  display: flex;
  flex-direction: column;
}

.sidenav > hr {
  display: block;
  max-width: 100%;
  border-color: var(--color-grey);
  border-width: 1px 0 0 0;
  border-style: solid;
  margin: .5rem;
}

.sidenav__header {
	margin: 0;
	font-variant: small-caps;
	padding: 0 .5rem;
}

.sidenav__link {
  padding: .25rem .5rem;
  color: #444;
  text-decoration: none;
}

.sidenav__link:hover,
.sidenav__link:focus {
  border-radius: .25rem;
  background-color: rgba(0, 0, 0, .15);
}

.sidenav__link--active {
  font-weight: bold;
  color: var(--color-primary);
}

.alert {
  border-left: 5px solid transparent;
  padding: .5rem;
  margin-bottom: 1rem;
}

.alert:empty {
  display: none;
  visibility: hidden;
}

.alert > :last-child {
  margin-bottom: 0;
}

.alert--info {
  color: #fff;
  background-color: var(--color-primary);
}

.alert--success {
  color: #fff;
  background-color: var(--color-success);
}

.alert--danger {
  color: #fff;
  background-color: var(--color-danger);
  border-color: rgba(0, 0, 0, .35);
}
