<section class="bg-white px-4 pb-2 pt-2 shadow-md rounded">
  <header class="flex flex-col md:flex-row">
    <h1 class="flex-1 font-bold text-xl md:text-2xl" title="<%= gettext "Editing link %{link}", link: @link.title %>">
      <%= gettext "Editing link %{link}", link: @link.title %>
    </h1>
  </header>
  <div>
    <%= render "form.html", Map.put(Map.put(assigns, :action, Routes.link_path(@conn, :update, @link)), :method, :patch) %>
  </div>
</section>

