<section class="box">
  <header class="box__header">
    <h1 class="box__title" title="Hello World">
      Ajout d'un lien
    </h1>
  </header>
  <div class="box__body">
    <%= render "form.html", Map.put(Map.put(assigns, :action, Routes.link_path(@conn, :create)), :method, :post) %>
  </div>
</section>
