<section class="box">
	<header class="box__header">
		<h1 class="box__title" title="Hello World">
			Dashboard
		</h1>
		<div class="box__actions">
			<a class="btn btn--primary" href="#">Ajouter</a>
			<a class="btn btn--success" href="#">Ajouter</a>
			<a class="btn btn--danger" href="#">Ajouter</a>
		</div>
	</header>
	<div class="box__body">
		<p>hello hello</p>
	</div>
</section>
